body {
  font-family: sans-serif;
  background-image: url("/images/starwars.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.yoda {
  margin-top: 100px;
}

.spaceship {
  margin-top: 270px;
}

.yoda-table {
  margin: 340px 0 0 80px;
}

.ship-table {
  margin: 150px 60px 0 0;
}

.ship-table,
th,
td {
  padding: 2px;
  color: aliceblue;
  border-collapse: collapse;
  border: 1px solid white;
  width: min-content;
}

.yoda-table,
th,
td {
  padding: 2px;
  color: aliceblue;
  border-collapse: collapse;
  border: 1px solid white;
}

.nextBtnPersons {
  padding: 5px;
  margin: 15px 10px 0 170px;
  color: black;
  font-weight: 700;
  background-color: white;
  border-radius: 5px;
  width: 140px;
  height: 30px;
}
.previousBtnPersons {
  padding: 5px;
  margin: 10px;
  color: black;
  font-weight: 700;
  background-color: white;
  border-radius: 5px;
  width: 140px;
  height: 30px;
}

.nextBtnShips {
  margin: 15px 10px 0 140px;
  color: black;
  font-weight: 700;
  background-color: white;
  border-radius: 5px;
  width: 140px;
  height: 30px;
  padding: 5px;
}

.previousBtnShips {
  padding: 5px;
  margin: 10px;
  color: black;
  font-weight: 700;
  background-color: white;
  border-radius: 5px;
  width: 150px;
  height: 30px;
}
